@media(windth >= 480px) {
    footer{
        padding: 3.125rem 10% 2.875rem;

        .top-footer{

        .more{
            justify-content: space-between;
        }
     }
    }
}

@media(windth>= 480) {
    footer{
        padding: 3.125rem 15% 2.875rem;

        .top-footer{
            .social{
                a{
                    img{
                        width: 2.0625rem;
                    }
                    span{
                        font-size: 2.25rem;
                    }
                }
                p {
                    font-size: 1 rem;
                    margin: 2.187rem 0 2.5rem;
                    max-width: 22rem;
                }
            }
        }
    }
}

@media (width>= 700px) {
    footer{
        padding: 3.125rem 10% 2.875rem; 

        .more{
            flex-direction: column;

            .information, category{
                ul {
                    display: grid;
                    grid-template-columns:  1fr 1fr 1fr;
                }
            }
            @media( width>= 1000px) {
                footer{
                    padding: 3.125rem 50px 2.875rem;
                    
                    .top-footer{
                        flex-direction: row;
                        gap:2rem;
                        justify-content: space-between;

                        .social{
                            max-width: 20rem;
                        }
                        .more{
                            flex-direction: row;

                            .information,
                            .category{
                                ul {
                                    display:flex;
                                    flex-direction: column;
                                }
                            }
                        }

                        .adress{
                            h2{
                                margin-bottom: 1.75rem;
                            }
                            max-width: 14.562rem;
                        }

                    }
                    }
                    
                }
                }
            }
        }

