@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
    text-decoration: none;
    list-style:none;
    color:#000;
}

:root{
    --main-color:#C92071;
    --black-color:#1f1f1f;
    --black-ligth-color:#474747;

}
html, body{
    height: 100%;

}

header {
height: 4rem;
display: flex;
justify-content: center;
align-items: center;

a{
    display: flex;
    gap: .2725rem;

span{
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--main-color);
}
}

}

main {
    background: linear-gradient(#b5b6f2,#efefff);
    padding: 3.9375rem 0 125rem;
    
    form{
        width: 19.6875rem;
        height: 25.6875rem;
        margin:0 auto;
        background-color: #fff;
        padding: 1.875rem;
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        h1{
            font-size: 1.375rem;
            line-height: 2.125rem;
            letter-spacing: .125rem;
            text-align: center;
            color:var(--black-color);

        }
        p{
            font-size: .875rem;
            line-height: 1.5rem;
            letter-spacing: .0156rem;
            text-align: center;
            color:var(--black-ligth-color);


            a{
                text-decoration: underline;
                color: var(--black-ligth-color);
            }
        }
        .input-box{
            display: flex;
            flex-direction: column;
            gap: .3125rem;


            label {
                font-weight: 700;
                font-size: .75rem;
                line-height: 1.5rem;
                letter-spacing: .0469rem;
                color:#474747;
            }

            input{
                height: 3.75rem;
                width: 100%;
                border-radius: .5rem;
                border: none;
                outline-color:var(--main-color);
                background-color: #4747470C;
                padding: .75rem;
                font-size: 1rem;

                &::placeholder{
                    color:#66666698;
                }

            }
        }
        button{
            height: 3rem;
            width: 100%;
            border: none;
            background-color: var(--main-color);
            border-radius: .5rem;
            color:#f5f5f5;
            font-weight: 600;
            font-size: 1rem;
            letter-spacing: .0469rem;
            cursor: pointer;
            transition: .15s;

            &:active{
                background-color: #991956;
            }
         }
         .else-box{
            height: 4.125rem;
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: space-between;

            small{
                font-size: .875rem;
                line-height: 1.375rem;
                letter-spacing: 0.156rem;
            }
            .icon-box{
                display: flex;
                gap: 1.5rem;
            }
         }
    }
}




@media (width>=480px) {
    main{

        form{
            width: 25rem;

            h1,p{
                text-align: start;

            
            }
        }
    }
}

@media(width>=768px) {
    main{
        form{
            width: 28.125rem;

            .else-box{
                flex-direction: row;
                justify-content: center;
                gap: 1.5rem;
            }


        }
    }
}

footer {
  background-color: var(--black-color);
  padding: 3.125rem 1.25rem 2.875rem;
  
  * {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
  }

  .top-footer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
    
    .social {
      a {
        display: flex;
        gap: .3362rem;
  
        img {
          width: 1.375rem;
        }

        span {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
      p {
        font-weight: 500;
        font-size: .875rem;
        line-height: 1.375rem;
        letter-spacing: 0.156rem;
        margin: 1.25rem 0 1.875rem;
      }
      ul {
        display: flex;
        gap: 2.187rem;

        li{
            a {
                img{
                    height: 1.375rem;
                }
            }
        }
      }
      }

      .more{
        display: flex;
        gap:2rem;

        .information, .category{
            h2{
                font-weight: 600;
                font-size: 1.125rem;
                margin-bottom: .625rem;
            }

            ul{
                li {
                    a {
                        line-height: 1.9375rem;
                        font-weight: 300;
                    }
                }
            }

        
        }
      }

      .address{
        h2{
            font-weight: 600;
            font-size: 1.125rem;
            margin-bottom: .625rem;


        }

        address{
            font-weight: 300;
            line-height: 1.9375rem;
            margin-bottom: 2rem;
        }
        span{
            font-weight: 300;
            line-height: 1.9375rem;
        
        }

      }

    }

    .bottom-footer {
        hr{
            opacity:30%;
        }

        small{
            display:block;
            text-align: center;
            margin-top: 1.4375rem;
            font-size: .8125rem;
            line-height: ;
        }

    }
  }
